@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

/* INÍCIO DA ESTILIZAÇÃO DO SCROLL-BAR */

::-webkit-scrollbar {
  background-color: #000;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#8b123b,#2e0613);
  border-radius: 8px;
}

/* FIM DA ESTILIZAÇÃO DO SCROLL-BAR */

body {
  width: 99vw;
  min-height: 100vh;
  background-color: #161623;
  color: #dddddd;
}

section {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction {
  align-items: center;
  margin-left: 5vw;
  margin-top: 5vw;
}

.introduction span {
  color: #ffc107;
}

/* ANIMAÇÃO DO BACKGROUND */

.background {
  padding: 5px 14px;
  color: #fff;
  border-radius: 2px;
}

.shape-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shape-group shape {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  animation: anim 25s linear infinite;
  bottom: -25px;
}

/* >>> Animando o fundo */
@keyframes anim {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 22px;
  }
}

.shape-group shape:nth-child(1){left: 25%; width: 80px; height: 80px; animation-delay: 0s;}
.shape-group shape:nth-child(2){left: 65%; width: 20px; height: 20px; animation-delay: 0s;}
.shape-group shape:nth-child(3){left: 70%; width: 20px; height: 20px; animation-delay: 1s;}
.shape-group shape:nth-child(4){left: 75%; width: 110px; height: 110px; animation-delay: 1s;}
.shape-group shape:nth-child(5){left: 35%; width: 150px; height: 150px; animation-delay: 0s;}
.shape-group shape:nth-child(6){left: 10%; width: 20px; height: 20px; animation-delay: 0s; animation-duration: 12s;}
.shape-group shape:nth-child(7){left: 40%; width: 60px; height: 60px; animation-delay: 2s; animation-duration: 18s;}
.shape-group shape:nth-child(8){left: 55%; width: 25px; height: 25px; animation-delay: 15s; animation-duration: 45s;}
.shape-group shape:nth-child(9){left: 20%; width: 15px; height: 15px; animation-delay: 2s; animation-duration: 35s;}
.shape-group shape:nth-child(10){left: 90%; width: 150px; height: 150px; animation-delay: 0s; animation-duration: 18s;}

/* INICIO DA ESTILIZAÇÃO DA CRUZADINHA */

.cruzadinha-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: calc(100% - 100px);
  min-height: calc(100vh - 180px);
  min-height: 300px;
  align-items: center;
  padding: 50px;
  left: 40px;
  top: -22vh;
}

.posicao {
  display: flex;
  justify-content: center;
  gap: 4vw;
}

table {
  position: relative;
  min-width: 350px;
  min-height: 400px;
  text-align: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  z-index: 10;
  padding: 20px;
  backdrop-filter: blur(25px);
}

td {
  width: 30px;
  height: 30px;
}

.inpt {
  width: 30px;
  height: 30px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #222;
  text-transform: uppercase;
}

.dicas-box {
  position: relative;
  display: flex;
  font-size: 15px;
}

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 5vw;
    line-height: 3.5vh;
  }

  .horizontais > h3 {
    color: #e91e63;
    font-size: 25px;
    margin-bottom: 2vh;
  }

  .verticais > h3 {
    color: #e91e63;
    font-size: 25px;
    margin-bottom: 2vh;
  }

  .dicas-box span {
    color: #ffc107;
  }